.scoreboard-container {
  padding: 30px;
}

.leadHeader {
  color: silver;
  font-weight: bold;
}

.podium {
  display: flex;
  height: 140px;
  max-width: 600px;
  margin: auto;
  margin-bottom: 2em;
  justify-content: space-between;
}
.podium-1st{
  order: 2;
  align-self: start;
}
.podium-2nd{
  order: 1;
  align-self: end;
}
.podium-3rd{
  order: 3;
  align-self: end;
}