.login-container {
  padding: 0 1em;
}

form p {
  padding: 2em 0;
}

.form-text {
  color: var(--lightAccent);
}

.form-link {
  color: var(--orangeAccent);
}

.form-link:hover {
  color: var(--darkerOrange);
}

@media (min-width: 1000px) {
  .login-container {
    padding: 0;
    max-width: 500px;
    margin: 0 auto;
  }
}
