  .hometitle {
    font-weight: bold;
    color: var(--yellowAccent);
    font-size: 40px;
    text-shadow: -3px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  .homesubtitle {
    color: var(--greyAccent);
    font-size: 1rem;
    font-weight: 400;
  }
  .homebtn {
    color: var(--darkAccent);
    margin-top: 20px;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    width: 170px;
    height: 50px;
    cursor: pointer;
    margin-right: 10px;
  }
  .getstarted, .playnow {
    background-color: var(--darkerOrange);
    color: var(--lightAccent);
  }
  .getstarted:hover, .playnow:hover {
    background: var(--orangeAccent);
  }
  .white:hover {
    background: var(--greyAccent);
  }
  .buttoncontainer1,.buttoncontainer2 {
    display: flex;
    flex-direction: row;
  }
  .hometitle-container {
    margin-top: 50px;
  }
  .Home {
    display: flex;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
  }
  .herologo {
    margin-top: -420px;
    margin-left: 25px;
  }
  .clocklogo{
    margin-top:-180px; 
    margin-left: 270px;
  }
  .imagecontainer{
    margin-left: 270px;
  }

  @media screen and (max-width: 1000px) {
    .herologo, .imageex{
      display: none;
    }
    .clocklogo{
      margin-bottom: -250px;
      margin-left: 10px;
    }
    .Home {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: "Poppins", sans-serif;
      font-weight: 900;
    }
    .buttoncontainer1,.buttoncontainer2{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  