#btn{
    color: var(--darkAccent);
    margin: 10px;
    height: 60px;
    font-size: 40px;
}

.Home{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-buttonsContainer{
    margin-left: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.home-logoContainer{
    margin-left: 50px;
}