.header {
  font-family: "Luckiest Guy";
  margin-top: 100px;
}
.bombCatch {
  display: flex;
  flex-direction: row;
}
.catchLine {
  margin-top: 100px;
  margin-left: 50px;
}
ul {
  list-style-type: square;
}
