@media screen and (max-width: 1000px){
    .EndScreen{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    
    .endscreen-title-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .endscreenTitle{
        color: var(--yellowAccent);
        margin-left: -70%;
        font-size: 20px;
    }
    
    .endscreenScore{
        color:var(--yellowAccent);
        font-weight: bold;
        font-size: 70px;
        margin-left: 45%;
        margin-top: -50%;
    }
    
    .btn-endscreen{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
    }
    
    .playbtn{
        margin-bottom: 0px;
        background-color: var(--lightAccent);
        color: var( --darkAccent);
        width: 100px;
        height: 30px;
        font-weight: bold;
        cursor: pointer;
    }
    
    .leaderbtn{
        background-color: var(--orangeAccent);
        color: var( --darkAccent);
        width: 160px;
        height: 30px;
        font-weight: bold;
        cursor: pointer;
    }
    
    .leaderbtn:hover{
        background: var(--darkerOrange);
    }
    
    .playbtn:hover{
        background: var(--greyAccent);
    }
    .avatarBackground{
        width: 200px;
    }
}

@media screen and (min-width: 1000px){
    .EndScreen{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .endscreenTitle{
        color: var(--yellowAccent);
        margin-left: -70%;
        font-size: 20px;
    }
    
    .endscreenScore{
        color:var(--yellowAccent);
        font-weight: bold;
        font-size: 70px;
        margin-left: 45%;
        margin-top: -50%;
    }
    
    .playbtn{
        background-color: var(--lightAccent);
        color: var( --darkAccent);
        width: 150px;
        height: 50px;
        font-weight: bold;
        cursor: pointer;
    }
    
    .leaderbtn{
        background-color: var(--orangeAccent);
        color: var( --darkAccent);
        width: 200px;
        height: 50px;
        font-weight: bold;
        cursor: pointer;
    }
    
    .leaderbtn:hover{
        background: var(--darkerOrange);
    }
    
    .playbtn:hover{
        background: var(--greyAccent);
    }
    .endscreen-title-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn-endscreen{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .endscreen-avatar-container{
        margin-bottom: 70px;
    }
}